{% extends "base.html" %}

{% block content %}
<h1>Listado de Vuelos</h1>

<p>Vuelos encontrados: {{ vuelos.count }}</p>

<table border="1" cellspacing="0" cellpadding="8">
    <thead>
        <tr>
            <th>Código</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Avión</th>
            <th>Estado</th>
            <th>Ver detalle</th>
        </tr>
    </thead>
    <tbody>
        {% for vuelo in vuelos %}
        <tr>
            <td>{{ vuelo.codigo_vuelo }}</td>
            <td>{{ vuelo.escala.origen.nombre }}</td>
            <td>{{ vuelo.escala.destino.nombre }}</td>
            <td>{{ vuelo.avion.modelo }} ({{ vuelo.avion.num_avion }})</td>
            <td>{{ vuelo.activo|yesno:"Activo,Inactivo" }}</td>
            <td>
                <a href="{% url 'detail_vuelo_template' vuelo.pk %}">← Ver detalles</a> 
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No hay vuelos registrados.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
