{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Mis Reservas" %}{% endblock %}

{% block content %}
<div class="fondo-transparente">
  <div class="container mt-4">
    <h2>{% trans "Mis Reservas" %}</h2>

    {% if object_list %}
    <table class="table table-bordered table-hover tabla-oscura">
      <thead>
        <tr>
          <th>{% trans "Vuelo" %}</th>
          <th>{% trans "Fecha" %}</th>
          <th>{% trans "Asiento" %}</th>
          <th>{% trans "Tipo de Vuelo" %}</th>
          <th>{% trans "Acciones" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for reserva in object_list %}
        <tr>
          <td>{{ reserva.vuelo.codigo_vuelo }}</td>
          <td>{{ reserva.fecha_reserva|date:"d/m/Y H:i" }}</td>
          <td>F{{ reserva.fila }} - C{{ reserva.columna }}</td>
          <td>{{ reserva.tipo_vuelo.nombre }}</td>
          <td>
            <a href="{% url 'reserva_detail' reserva.pk %}" class="btn btn-sm btn-info">{% trans "Ver" %}</a>
            <a href="{% url 'reserva_update' reserva.pk %}" class="btn btn-sm btn-warning">{% trans "Editar" %}</a>
            <a href="{% url 'reserva_delete' reserva.pk %}" class="btn btn-sm btn-danger">{% trans "Cancelar" %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="text-muted">{% trans "No tienes reservas." %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
